.info-page {
  direction: rtl;
  font-family: 'Cairo', sans-serif;
  background-color:var(--bg-primary);
  min-height: 100vh;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;

  .info-container {
    background:var(--bg-primary);
    width: 100%;
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding: 2.5rem;
    line-height: 1.8;
    color: #333;

    h1 {
      text-align: center;
      color:var(--text-primary);
      margin-bottom: 2rem;
      font-size: 2rem;
      font-weight: 700;
    }

    .info-content {
      .info-section {
        margin-bottom: 2rem;

        h2 {
          color: var(--text-primary);
          font-size: 1.5rem;
          margin-bottom: 0.75rem;
          border-right: 5px solid #2b6cb0;
          padding-right: 0.5rem;
        }

        h3 {
          color: var(--text-primary);
          font-size: 1.1rem;
          margin: 1rem 0 0.5rem;
        }

        p {
          color: var(--text-primary);
          font-size: 1rem;
          margin-bottom: 0.5rem;
        }

        ul {
          list-style: none;
          padding-right: 1.5rem;

          li {
            position: relative;
            margin-bottom: 0.4rem;
            font-size: 0.95rem;
            color:var(--text-primary);

            &::before {
              content: "•";
              color: #2b6cb0;
              position: absolute;
              right: -1rem;
              font-size: 1.2rem;
              line-height: 1;
            }
          }
        }
      }

      .contact-info {
        background: var(--bg-primary);
        padding: 1rem;
        border-radius: 10px;
        margin-top: 1rem;

        p {
          margin: 0.4rem 0;
          font-size: 0.95rem;
          strong {
            color:#2b6cb0;
          }
        }
      }

      .last-updated {
        text-align: center;
        margin-top: 2rem;
        font-size: 0.9rem;
        color: #666;

        strong {
          color: #2b6cb0;
        }
      }
    }
  }
}
.email-contact{
  user-select: text;
}

@media (max-width: 768px) {
  .info-page {
    height: 100%;
    margin-right: 150px;
    width: 500px;
    padding: 1rem;

    .info-container {
      padding: 1.5rem;
      h1 {
        font-size: 1.6rem;
      }

      .info-section h2 {
        font-size: 1.3rem;
      }
    }
  }
}
