.notfound-wrapper {
    user-select: none;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.notfound-content {
    z-index: 1;
}

.notfound-title {
    font-size: 8rem;
    color: #4b3c3c;
    margin-bottom: 20px;
}

.notfound-text {
    font-size: 1.5rem;
    color: #332727;
    margin-bottom: 40px;
}

.notfound-btn {
    padding: 15px 40px;
    background-color: #16201d;
    color: #ffffff;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.notfound-btn:hover {
    background-color: #4e5291;
    transform: scale(1.05);
    color :#ece8e8;
}

@media (max-width: 768px) {
    .notfound-title {
        font-size: 5rem;
    }

    .notfound-btn {
        padding: 12px 30px;
        font-size: 1rem;
    }
}