body {
    padding: 0;
    margin: 0;
    background-color: #96a39e;
}
#root{
    width:100% ;
}
.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.floating {
    transform: translate(-50%, -50%);
    animation: floating 2s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    user-select: none;
}

.logo {
    pointer-events: none;
    user-select: none;
    height: 300px;
    width: 300px;
}

@media (max-width: 600px) {
    .logo {
        margin-top: 160px;
        height: 200px;
        width: 200px;
    }

}